.container{
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 2px;
  background-color: #1B1B1B;

  height: 70vh;
  
  
  color:white;
}
h1{
  color:red
}
.leftColumn{
  border: 2px solid white;
  max-height: 100%;
  overflow-y: auto;
}

.rightColumn{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.noteDisplay{
  height: 40%;
  padding: 1rem;
}
.markdownInput{
  height: 60%;
  padding: 1rem;
}